body,
html {
     height: 100vh;
}

@font-face {
     font-family: 'Bold';
     src: url('THE\ BOLD\ FONT\ -\ FREE\ VERSION\ -\ 2023.otf');
}

.raleway {
     font-family: "Raleway", sans-serif;
     font-optical-sizing: auto;
     font-weight: 650;
     font-style: normal;
}

.bold {
     font-family: 'Bold';
}

.signUp,
.logIn {
     background: linear-gradient(#FD4556, #8C2931);
}

.heading {
     font-size: 5rem;
}

.text-secondary {
     color: #EAEAEA !important;
}

.input-group label {
     color: #EAEAEA;
}

.input-group input {
     height: 77px;
     border-radius: 31px !important;
     border: none;
     font-size: 25px;
     padding: 20px;
}

.input-leauge-group input {
     height: 40px;
     border-radius: 31px !important;
     border: none;
     font-size: 15px;
     padding: 20px;
}

.input-leauge-group label {
     font-size: 13px;
}

.input-leauge-group select {
     height: 40px;
     border-radius: 31px !important;
     border: none;
     padding: 0 20px;
     color: black;
     width: 50%;
}

#signInButton,
#logInButton {
     background-color: white;
     padding: 20px;
     border-radius: 50px;
     color: #8C2931;
     border: none;
}

#createLeagueButton {
     background-color: white;
     padding: 10px 5px;
     border-radius: 50px;
     color: #8C2931;
     border: none;
     width: 80%;
     text-transform: uppercase;
     letter-spacing: 2px;
}

#signInButton:hover,
#logInButton:hover,
#createLeagueButton:hover {
     cursor: pointer;
     background-color: #EAEAEA;
}

#signInButton:active,
#logInButton:active,
#createLeagueButton:active {
     cursor: pointer;
     background-color: #b9b9b9;
}

.mainBody {
     background: #4c161b;
}

#sidebar {
     width: 70px;
     min-width: 70px;
     z-index: 1000;
     transition: .25s all;
     display: flex;
     flex-direction: column;
     background-color: #8C2931;
     padding: 2rem 0;
     ;
}

#sidebar.expand {
     width: 260px;
     min-width: 260px;
}

#sidebar:not(.expand) a.sidebar-link p {
     display: none;
}

#sidebar:not(.expand) button.sidebar-link p {
     display: none;
}

.sidebar-nav {
     flex: 1 1 auto;
     margin: 0;
}

ul {
     list-style-type: none;
}

a.sidebar-link {
     display: flex;
     font-size: 0.9rem;
     text-decoration: none;
     padding: 2rem 0;
     padding-left: 20px;
}

button.sidebar-link {
     display: flex;
     font-size: 0.9rem;
     text-decoration: none;
     padding: 2rem 0;
     padding-left: 20px;
     background-color: transparent;
     border: none;
     width: 100%;
     align-items: center;
}

a.sidebar-link p {
     display: flex;
     align-items: center;
     margin: 0 10px;
     color: white;
     white-space: nowrap;
}

button.sidebar-link p {
     display: flex;
     align-items: center;
     margin: 0 10px;
     color: white;
     white-space: nowrap;
}

#sidebar:not(.expand) a.sidebar-link {
     align-items: center;
}

a.sidebar-link:hover {
     background-color: #7f363d;
}

button.sidebar-link:hover {
     background-color: #7f363d;
}

a.sidebar-link .material-symbols-outlined {
     font-size: 1.5rem;
     color: white;
}

button.sidebar-link .material-symbols-outlined {
     font-size: 1.5rem;
     color: white;
}


.settingsContainer {
     padding: 3rem 0 0 70px;
}

.settingsInput {
     border: none;
     border-bottom: 2px solid white;
     color: #8C2931;
     width: 60%;
     min-width: 185px;
     padding: 10px;
     border-radius: 10px;
}

.settingsInput:active,
.settingsInput:focus {
     outline: none;
}

.settingsLabel {
     font-size: 12px;
}

.logoutButton {
     padding: 10px;
     display: flex;
     align-items: center;
     color: white;
     background: transparent;
     border: white solid 3px;
     border-radius: 10px;
     transition: all .2s;
     width: fit-content;
}

.saveButton {
     padding: 10px 50px;
     display: flex;
     align-items: center;
     color: white;
     background: transparent;
     border: white solid 3px;
     border-radius: 10px;
     transition: all .2s;
     width: fit-content;
     letter-spacing: 2px;
}

.logoutButton:hover {
     background: white;
     color: #8C2931;
}

.logoutButton:active {
     background: rgb(199, 198, 198);
     color: #8C2931;
}

.logoutButton span {
     margin-left: 5px;
}

.linkButton {
     border-radius: 10px;
}

.linkButton:hover {
     background-color: #601b22;
     cursor: pointer;
}

.player-card-team-image {
     height: 150px;
     left: 200px;
     top: 100px;
     transform: translate(-50%, -50%);
}

.player-card-team-image svg {
     height: 150px;
     stroke-width: 5px;
     fill-opacity: 0.6;
     stroke-opacity: 0.6;
}

.player-card-info-container {
     z-index: 2;
}

.player-card-player-image {
     width: 200px;
}

.modal {
     background: rgba(255, 255, 255, 0.2);
     --bs-modal-bg: #4c161b;
     color: white;
}

.btn-close {
     background: url(img/icons/x.svg) center center/1em auto no-repeat;
}

.modal-body {
     padding: 0rem 6rem 1rem;
}

.modal-footer {
     padding: 1rem 4rem;
}

.league-info-container {
     background-color: #601b22;
     border-radius: 10px;
}

.leagueNavLink {
     font-size: 13px;
     justify-content: center;
     align-items: center;
     border-radius: 5px;
}

.pointer:hover {
     cursor: pointer;
}

.leagueNavLinkBG {
     background-color: #FD4556;
     border-radius: inherit;
     padding: 5px;
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100%;
}

.leagueNavLink:not(.activeLeagueNavLink) p {
     display: none;
}

.invFriendsLinkContainer {
     background: #7b212a;
     border-radius: 10px;
}

#leagueInvLinkInput {
     background-color: #7c3e44;
     padding: 10px;
     border-radius: 10px;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

#copyLeagueLink {
     background-color: #361216;
     height: fit-content;
     padding: 5px;
     border-radius: 5px;
}

#leagueLink {
     width: 100%;
     background-color: transparent;
     border: none;
     color: white;
}

#leagueLink:focus-visible {
     border: none;
     outline: none;
}

#playersInLeague {
     background-color: #7b212a;
     padding: 10px;
     border-radius: 10px;
}

.playersInLeagueList::-webkit-scrollbar {
     display: none;
     /* Chrome, Safari, and Edge */
}


.playersInLeagueList {
     list-style-type: none;
     counter-reset: list-counter;
     padding: 0;
}

.playersInLeagueList li {
     padding: 20px 10px;
     counter-increment: list-counter;
}

.playersInLeagueList li:before {
     content: counter(list-counter) "";
     margin-right: 2rem;
}

.playersInLeagueList li img {
     height: 10px;
}

.toastMessage {
     visibility: hidden;
     min-width: 250px;
     margin-left: -125px;
     background-color: rgba(51, 51, 51, 0.5);
     color: #fff;
     text-align: center;
     border-radius: 10px;
     padding: 16px;
     position: fixed;
     z-index: 1;
     left: 50%;
     bottom: 30px;
     font-size: 17px;
     opacity: 0;
     transition: opacity 0.5s;
}

.toastMessage.show {
     visibility: visible;
     /* Show the toast */
     opacity: 1;
     /* Fully visible */
}

.filterBtnContainer {
     width: fit-content;
     padding: 3px 10px;
     border-radius: 20px;
     background-color: #7b212a;
}

.filterAvailablePlayersBtn {
     border-radius: 20px;
     padding: 2px 0.5rem;
     display: flex;
     align-items: center;
     height: fit-content;
}

.filterAvailablePlayersBtn.active {
     background-color: #bb2727;
}

#currentAvailablePlayersTable tr:nth-child(even) {
     background-color: #4b0f0f;
}

.table-container::-webkit-scrollbar {
     display: none;
     /* Chrome, Safari, and Edge */
}

.deleteLeagueBtn {
     width: fit-content;
     background-color: #FD4556;
     border-radius: 5px;
}

/* all teams and their respective logo styling and background styling */
.LOUDBG {
     background: #0ecc00;
}

.LOUDLogo {
     stroke: black;
}

.SentinelsBG {
     background: #9f002b;
}

.SentinelsLogo {
     stroke: black;
}

.All_GamersBG {
     background: #ae1414;
}

.All_GamersLogo {
     stroke: black;
     stroke-width: 15px !important;
}

.Bilibili_GamingBG {
     background-color: #2dabc8;
}

.Bilibili_GamingLogo {
     stroke: white;
     stroke-width: 2px !important;
}

.Dragon_Ranger_GamingBG {
     background-color: #5fc24e;
}

.Dragon_Ranger_GamingLogo {
     stroke: none !important;
}

.EDGBG {
     background-color: #231915;
}

.EDGLogo {
     stroke: none;
     stroke-width: 1px !important;
}

.FPXBG {
     background-color: #ba0c00;
}

.FPXLogo {
     stroke: black;
}

.JD_GamingBG {
     background-color: #971026;
}

.JD_GamingLogo {
     stroke: white;
     stroke-width: 2px !important;
}

.Nova_EsportsBG {
     background-color: #a455ba;
}

.One00_ThievesBG {
     background-color: #bb2727;
}

.One00_ThievesLogo {
     stroke: white !important;
     stroke-width: 10px !important;
}

.BBL_EsportsBG {
     background: #c4aa76;
}

.Cloud9BG {
     background: #208ebd;
}

.Cloud9Logo {
     stroke: white;
     stroke-width: 10px !important;
}

.DRXBG {
     background: rgb(12, 2, 127);
}

.DRXLogo {
     stroke: white;
     stroke-width: 1px !important;
}

.DetonatioN_FocusMeBG {
     background: #1c4fbd;
}

.DetonatioN_FocusMeLogo {
     stroke: white;
}

.Evil_GeniusesBG {
     background: #040b6a;
}

.Evil_GeniusesLogo {
     stroke: white;
     stroke-opacity: 1 !important;
     stroke-width: 10px !important;
}

.FURIA_EsportsBG {
     background: #3a4155;
}

.FnaticBG {
     background-color: #ca4700;
}

.FnaticLogo {
     stroke: white;
     stroke-width: 10px;
}

.G2BG {
     background: #b22e1a;
}

.G2Logo {
     stroke: none;
     stroke-width: 1.5px !important;
}

.GIANTXBG {
     background: #0984ed;
}

.GIANTXLogo {
     stroke: white;
}

.GenGBG {
     background: #aa8b30;
}

.GenGLogo {
     stroke: black;
     stroke-width: 1px !important;
}

.Global_EsportsBG {
     background: #45354d;
}

.KRU_EsportsBG {
     background: #cf1374;
}

.KRU_EsportsLogo {
     stroke: black;
     stroke-width: 7px !important;
}

.Karmine_CorpBG {
     background: #08ceff;
}

.KOIBG {
     background: #6a31be;
}

.LeviatanBG {
     background: #25364a;
}

.MIBRBG {
     background-color: #0e163a;
}

.MIBRLogo {
     stroke: white;
}

.NAVIBG {
     background: #c5bb29;
}

.Paper_RexBG {
     background: #d70e95;
}

.RRQBG {
     background: #241910;
}

.T1BG {
     background: black;
}

.TYLOOBG {
     background: black;
}

.Talon_EsportsBG {
     background-color: #c2003a;
}

.Talon_EsportsLogo {
     stroke: black;
}

.Team_HereticsBG {
     background: #b7901e;
}

.Team_LiquidBG {
     background-color: #0e1b26;
}

.Team_LiquidLogo {
     stroke: #4d563e;
     stroke-width: 20px !important;
}

.Team_SecretBG {
     background-color: black;
}

.Team_SecretLogo {
     fill: white;
}

.Team_VitalityBG {
     background-color: #867700;
}

.Titan_Esports_ClubBG {
     background-color: #1b1a21;
}

.Trace_EsportsBG {
     background-color: #364585;
}

.Wolves_EsportsBG {
     background-color: #FDB913;
}

.ZETA_DIVISIONBG {
     background-color: black;
}

.ZETA_DIVISIONLogo {
     fill: white;
}

.FUT_EsportsBG {
     background: black;
}

.NRG_EsportsBG {
     background-color: #c9273f;
}

.player-card-player-image-container {
     min-width: 270px;
}

.player-card-stats-container {
     display: grid;
     grid-template-columns: 1fr 3px 1fr 3px;
     grid-template-rows: 1fr;
     width: fit-content;
}

.subtext {
     opacity: 0.55;
}

.divider {
     opacity: 0.3;
     background: white;
     height: 100%;
     width: 100%;
}

.player-card-role-icon {
     height: 25px;
}

.player-card-role-container {
     position: absolute;
     bottom: 0;
     left: 0;
     display: flex;
     width: 100%;
}

.player-role-info {
     background: rgba(0, 0, 0, 0.6);
     padding: 5px 10px;
     align-items: center;
     width: 100%;
}